<launch> 
 <node pkg="tf" type="static_transform_publisher" name="color_optical_to_robot_broadcaster" args="0.6557 0.9611 0.6511 -0.00193 -0.85159 0.52312 0.0337 base_link camera_color_optical_frame 100" />
 <node pkg="tf" type="static_transform_publisher" name="botom_to_color_optical_broadcaster" args="0.033 0.013 -0.000 0.500 -0.500 0.500 0.500 camera_color_optical_frame camera_bottom_screw_frame 100" />
</launch>
