<launch> 
  <node pkg="tf" type="static_transform_publisher" name="robot_to_camera_bottom_broadcaster" args="0.619 0.962 0.643 0.155 0.172 -0.715 0.660 base_link camera_bottom_screw_frame 100" />
 <node pkg="tf" type="static_transform_publisher" name="botom_to_color_broadcaster" args="0.000 0.033 0.013 -0.500 0.500 -0.500 0.500  camera_bottom_screw_frame camera_color_optical_frame 100" />
</launch>
