<launch> 
  <node pkg="tf" type="static_transform_publisher" name="robot_to_camera_bottom_broadcaster" args="0.620 0.959 0.645 0.157 0.174 -0.715 0.658 base_link camera_bottom_screw_frame 100" />
 <node pkg="tf" type="static_transform_publisher" name="botom_to_color_broadcaster" args="0.000 0.033 0.013 0.000 0.000 0.000 1.000  camera_bottom_screw_frame camera_color_frame 100" />
</launch>
